@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --accent-color: #00b4d8;
  --accent-color-darker: #0090a8;
  --secondary-bg: #060910;
  --terminal-bg: rgba(0, 180, 216, 0.05);
  --svg-icon: invert(10%) sepia(98%) saturate(4160%) hue-rotate(181deg) brightness(97%) contrast(99%);
  --svg-icon-hover: invert(51%) sepia(69%) saturate(2310%) hue-rotate(154deg) brightness(98%) contrast(101%);
  --shadow: 0 0 20px rgba(0, 180, 216, 0.1),
    0 0 0 2px var(--accent-color),
    0 0 30px rgba(0, 180, 216, 0.2);
  --container-width: 800px;
  --container-height: 800px;


  --spacing-small: 8px;
  --spacing-medium: 13px; 
  --spacing-large: 21px; 
  --spacing-xlarge: 34px; 

  --font-size-small: 12px;
  --font-size-medium: 19px; 
  --font-size-large: 31px;
}

#root {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

body,
html {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

h1 {
  color: var(--accent-color);
  margin: 0;
}

p {
  text-align: center;
  margin-bottom: 0;
}

input,
button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--secondary-bg);
  color: var(--text-color);
}

button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

button:hover {
  background-color: #0090a8;
}

button:hover,
.operationType-selector:hover {
  background-color: #0090a8;
}


.terminal-wrapper {
  width: var(--container-width);
  height: var(--container-height);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 180, 216, 0.1),
    0 0 0 2px var(--accent-color),
    0 0 30px rgba(0, 180, 216, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large);
}

.horizontal-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: var(--spacing-large);
  width: 100%;
}

.scrapped-text-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:var(--spacing-medium)
}

button,
.operationType-selector {
  padding: 0.75rem 1rem;
  border: none;
  background-color: var(--accent-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-align: center;
}

.operationType-selector {
  width: auto;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--accent-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.operationType-selector {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23121212' d='M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding-right: 2.5rem;
}

.icon-container {
  align-self: center;
  display: flex;
  gap: var(--spacing-medium);
}