.event-display {
  border: 1px solid var(--accent-color);
  padding: 1rem;
  background-color: transparent;
}

.event-display p {
  margin: 0;
  font-size: 0.9rem;
}
.terminal-body {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.log-entry {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 5px; 
}

.prompt {
  color: var(--accent-color);
  margin-right: 5px;
  flex-shrink: 0;
}

.message {
  color: var(--terminal-text);
  word-break: break-word;
  text-align: left;
  flex-grow: 1;
  width: 100%;
}