.response-text-area {
  height: 100%;
  border: 1px solid var(--accent-color);
  padding: 0.5rem 1rem;
  background-color: black;
  color: var(--text-color);
  font-family: inherit;
  resize: none;
  user-select: none;


  /* Make text unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--secondary-bg);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--secondary-bg);
}

